@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



/* Article card  */

.postcard {
    flex-wrap: wrap;
    display: flex;
    
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
  
      &.dark {
          background-color: #18151f;
      }
      &.light {
          background-color: #e1e5ea;
      }
      
      .t-dark {
          color: #18151f;
      }
      
    a {
      color: inherit;
    }
      
      h1,	.h1 {
          margin-bottom: 0.5rem;
          font-weight: 500;
          line-height: 1.2;
      }
      
      .small {
          font-size: 80%;
      }
  
    
  
    .postcard__img {
      max-height: 180px;
      width: 100%;
      object-fit: cover;
      position: relative;
    }
  
    .postcard__img_link {
      display: contents;
    }
  
    .postcard__bar {
      width: 50px;
      height: 10px;
      margin: 10px 0;
      border-radius: 5px;
      background-color: #424242;
      transition: width 0.2s ease;
    }
  
    .postcard__text {
      padding: 1.5rem;
      position: relative;
      display: flex;
      flex-direction: column;
    }
  
    .postcard__preview-txt {
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: justify;
      height: 100%;
    }
  
    .postcard__tagbox {
      display: flex;
      flex-flow: row wrap;
      font-size: 14px;
      margin: 20px 0 0 0;
          padding: 0;
      justify-content: center;
  
      .tag__item {
        display: inline-block;
        background: rgba(83, 83, 83, 0.4);
        border-radius: 3px;
        padding: 2.5px 10px;
        margin: 0 5px 5px 0;
        cursor: default;
        user-select: none;
        transition: background-color 0.3s;
  
        &:hover {
          background: rgba(83, 83, 83, 0.8);
        }
      }
    }
  
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(-70deg, #424242, transparent 50%);
      opacity: 1;
      border-radius: 10px;
    }
  
    &:hover .postcard__bar {
      width: 100px;
    }
  }
  
  @media screen and (min-width: 769px) {
    .postcard {
      flex-wrap: inherit;
  
      .postcard__title {
        font-size: 2rem;
      }
  
      .postcard__tagbox {
        justify-content: start;
      }
  
      .postcard__img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
      }
  
      .postcard__text {
        padding: 3rem;
        width: 100%;
      }
  
      .media.postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        background: #18151f;
        top: -20%;
        height: 130%;
        width: 55px;
      }
  
      &:hover .postcard__img {
        transform: scale(1.1);
      }
  
      &:nth-child(2n+1) {
        flex-direction: row;
      }
  
      &:nth-child(2n+0) {
        flex-direction: row-reverse;
      }
  
      &:nth-child(2n+1) .postcard__text::before {
        left: -12px !important;
        transform: rotate(4deg);
      }
  
      &:nth-child(2n+0) .postcard__text::before {
        right: -12px !important;
        transform: rotate(-4deg);
      }
    }
  }
  @media screen and (min-width: 1024px){
          .postcard__text {
        padding: 2rem 3.5rem;
      }
          
          .postcard__text:before {
        content: "";
        position: absolute;
        display: block;
        
        top: -20%;
        height: 130%;
        width: 55px;
      }
      
      .postcard.light {
          .postcard__text:before {
              background: #e1e5ea;
          }
    }
  }

  .form-control {
    border: 1px solid #f8c146;
}

/* Article card  */




/* search bar */
.input-text {
    border-radius: 20px 0 0 20px;
    height: 60px;
    width: 12rem;
}

.btn-outline-warning {
    border-radius: 0 20px 20px 0; 
    padding: 0.375rem 1.5rem; 

    }
/* search bar */


  

/* sign up Button  */

.sign {
    width: 100px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.sign:hover .front {
    top: -5px;
    left: 5px;
}

.sign:hover .cosmo {
    opacity: 5;
    top: -100px;
}

.cosmo {
    transition: all 0.7s;
    position: absolute;
    top: -10px;
    left: 50px;
    width: 110px;
    height: 110px;
    object-fit: cover;
    opacity: 0;
}

.do{
    transition: all 0.7s;
    position: absolute;
    font-size:x-large;
    font-weight: 600px;
    top: -8px;
    left: 50px;
    width: 110px;
    height: 110px;
    object-fit: cover;
}
.sign:hover .do {
    opacity: 1;
    top: 70px;
}

.front {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 205px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #000;
    transition: all 0.3s;
}

.back {
    width: 210px;
    height: 55px;
    position: absolute;
    top: -2px;
    left: -2px;
    background: rgb(255, 59, 10);
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
}

/* button */



/* home */

.background-image {
    background-image: url('/storage/images/theone.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    margin-top: -6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .background-image {
        height: calc(100vh - 30%); /* Adjusted height for smaller screens */
        margin-top: -8%; /* Adjusted margin for smaller screens */
    }
}

@media (max-width: 468px) {
    .background-image {
        display:none;
    }
}



.header {
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  z-index: 1;
  font-family: 'Roboto', sans-serif; /* Use Roboto font family */
}

.header h1 {
  font-size: 5em;
  margin-bottom: 20px;
  color: #000;
  transition: opacity 0.5s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
}

.header p {
  font-size: 1.5em;
  color: #000;
  opacity: 0.8; /* Adjust opacity as needed */
  font-style: italic; /* Italicize the text */
  margin-top: 10px; /* Add some top margin */
  text-align: justify; /* Justify the text */
}




.sign {
   
  top: 10rem;
  right:35rem ;
}


.background-image {
    background-color: #f8f9fa; /* Set a light background color */
}

.feature {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature-icon {
    font-size: 40px;
    color: #007bff;
}

.feature-title {
    font-size: 22px;
    margin-top: 20px;
}

.feature-description {
    font-size: 16px;
    color: #6c757d;
}

.about {
    min-height: 80vh;
}

.about-image {
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.about-image img {
    transition: transform 0.3s ease-in-out;
    width: 100%; /* Make images fill the container */
    height: 100%; /* Maintain aspect ratio */
}

.about-image:hover img {
    transform: scale(1.1);
}


.coach {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.coach:hover {
    transform: translateY(-5px);
}

.coach img {
    width: 150px;
    height: 150px;
}

.coach-name {
    font-size: 24px;
    margin-top: 20px;
}

.coach-description {
    font-size: 18px;
    color: #6c757d;
}

.testimonials {
    min-height: 60vh;
}

.testimonial {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
}

.testimonial-text {
    font-size: 16px;
}

.testimonial-author {
    font-style: italic;
    margin-top: 10px;
}

.prof{
width: 8%;
height: 80px;
margin-top: -18px;
}

/* home */



/* #coach_image{

  width: 100%;
  height: 100;

} */




/*
footer
*/

.foot{
  background-color: rgba(0, 0, 0, 0.5) !important; 
backdrop-filter: blur(10px); 
border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}

/*
footer
*/





/*
rooms
*/

.room {
  max-width: 500px; /* Limiting card width */
  border-radius: 15px; /* Rounded corners for cards */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Adding shadow effect */
}

.room-img-container {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  overflow: hidden;
  border-radius: 15px;
}

.room-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover entire container */
  border-radius: 15px;
}
/*
rooms
*/
